@font-face {
  font-family: 'CalibreRegular';
  src: url("/fonts/calibre-regular.woff2") format('woff2');
  font-weight: 300;
  font-style: normal;
};
@font-face {
  font-family: 'CalibreRegular';
  src: url("/fonts/calibre-semibold.woff2") format('woff2');
  font-weight: 600;
  font-style: normal;
};
@font-face {
  font-family: 'CalibreRegular';
  src: url("/fonts/calibre-medium.woff2") format('woff2');
  font-weight: 500;
  font-style: normal;
};
@font-face {
  font-family: 'CalibreRegular';
  src: url("/fonts/calibre-bold.woff2") format('woff2');
  font-weight: bold;
  font-style: normal;
};
body, input {
  font-family: 'CalibreRegular';
}